@import '../styles/variables';
@import '../styles/utils';

$searchBoxHeight: 2.5rem;
$breakpoint: 40rem;

.search-box {
  position: relative;
  margin: 2rem;

  &.disabled {
    opacity: 0.5;
  }

  h1 {
    color: #000;
    font-size: 100%;
    margin: 1rem auto;
    display: block;
  }

  @media only screen and (min-width: $tablet_mq) {
    width: 100%;
    margin: 0;
    height: 180px;
    padding: 5% 10%;
    background: url('../images/animated_background.jpg') repeat-x;
    background-size:cover;
    -webkit-animation: animatebackground 60s linear infinite;
    animation: animatebackground 60s linear infinite;
    -ms-animation: animatebackground 60s linear infinite;
    -moz-animation: animatebackground 60s linear infinite;

    h1 {
      color: #fff;
      font-size: 150%;
    }
  }

  @media only screen and (min-width: $desktop_mq) {
    padding: 15% 10%;
    height: 445px;

    h1 {
      font-size: 200%;
    }
  }
}

@keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-webkit-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-ms-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-moz-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}

.search-form {
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: $tablet_mq) {
    border: 1px solid $nasa_red;
  }
}

.search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
  width: 90%;
  padding: 11px 0 12px 1em;
  color: #333;
  outline: none;
  height: $searchBoxHeight;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: $searchBoxHeight;
  width: 80px;
  font-size: 14px;
  color: $nasa_red;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color: $nasa_blue;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

/*
 * Results
 */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid $oc-gray-1;
  color: $oc-gray-8;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

