@import 'utils';

@font-face {
  font-family: 'nasalizationregular';
  src: url('./fonts/nasalization-rg-webfont.woff2') format('woff2'),
  url('./fonts/nasalization-rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: $oc-gray-8;
  box-sizing: border-box;
  font-family: 'nasalizationregular';
}

* {
  box-sizing: inherit;
}