@import '../../styles/variables';

.header {
  background-color: $nasa_blue;
  color: $nasa_red;

  a {
    text-decoration: none;
    &:visited, &:active {
      color: $nasa_red;
    }
  }
}

.navBar {
  list-style: none;
  margin: 0;
  padding: 0.5rem;

  li {
    display: inline;
    margin-right: 1rem;
  }
}