@import '../../styles/variables';
@import '../../styles/utils';


/* Featured item  */
@media only screen and (min-width: $tablet_mq) {
  .item-1 {
    grid-column: 1/ span 2;
    & h1 {
      font-size: 30px;
    }
  }
}

.video {
  background-color: yellow;
}

/* card */
.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    text-decoration: none;

    & .thumb {
      filter: contrast(100%);
    }
  }
  
  & article {
    padding: 20px;
    display: flex;
    
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    
  }
  & .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);

    &.video-thumb {
      background: url('../../images/videoposter.jpg');
      background-size: cover;
    }

    @media only screen and (min-width: $desktop_mq) {
      filter: contrast(70%);
    }
  }
  
  & p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;

    @include breakWord;
  }
  
  /* typography */
  & h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  & span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;

    &.NASA {
      color: $nasa_red;
    }
  }
}

