@import '../../styles/variables';
@import '../../styles/utils';

$searchBoxHeight: 2.5rem;
$breakpoint: 40rem;

.search-box {
  position: relative;
  width: 100%;
  margin: 0;

  &.disabled {
    opacity: 0.5;
  }
}

.search-form {
  height: 40px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

.search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
  width: 90%;
  padding: 11px 0 12px 1em;
  color: #333;
  outline: none;
  height: $searchBoxHeight;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: $searchBoxHeight;
  width: 80px;
  font-size: 14px;
  color: $nasa_red;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color: $nasa_blue;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

/*
 * Results
 */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid $oc-gray-1;
  color: $oc-gray-8;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

